:root{
    --var-gray1 : #232323;
    --var-gray2 : #404040;
    --var-gray3 : #525252;
    --var-gray4 : #9e9e9e;
    --var-main1 : #15527a;
    --var-main2 : #4089b9;
    --var-main3 : #ffff00;
    --var-main4 : #f3d240;
    --var-black : #000000;
    --var-white : #FFFFFF;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--var-gray1);
}
#main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner{
    width: 100%;
    background-color: var(--var-gray2);
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner>img{
    height: 50px;
    width: auto;
    margin: 10px;
}

#software{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* ------------------------------------ */
/* --------------- MENU --------------- */
/* ------------------------------------ */
#menu{
    height: 600px;
    width: 160px;
    background-color: var(--var-gray3);
    display: grid;
    grid-template-columns: 120px 40px;
    grid-template-rows: 60px 80px 80px 40px 40px 40px 40px 40px 40px 40px 40px;
}
#menu>*{
    margin: 6px;
    /* border: 1px solid pink; */
}
.div_icon{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--var-gray4);
}
.icon{
    height: 20px;
    width: auto;
    color: var(--var-gray4);
    margin: 0;
    padding: 0;
    display:none;
}
#create_button_div{
    grid-column: 1 / span 2;
}
#create_button{
    width: 100%;
    font-size: large;
    border: 2px solid var(--var-gray4);
    color: var(--var-gray4);
    background-color: var(--var-gray3);
    padding: 10px;
    transition: 300ms;
}
#create_button:hover{
    color: var(--var-main3);
    border: 2px solid var(--var-main3);
}
/* refaire le css/html du menu bas plus tard /////////////////////////////////////////////////////////////////////////////////////////////////// */
#Informations {
    grid-column: 1 / span 2;
    color: var(--var-gray4);
    display: flex;
    justify-content: center;
}
#mouse_x{
    grid-column: 1 / span 2;
    color: var(--var-gray4);
    display: flex;
    justify-content: center;
}
#mouse_y{
    grid-column: 1 / span 2;
    color: var(--var-gray4);
    display: flex;
    justify-content: center;
}
#post_it_id{
    grid-column: 1 / span 2;
    color: var(--var-gray4);
    display: flex;
    justify-content: center;
}
#action{
    grid-column: 1 / span 2;
    color: var(--var-gray4);
    display: flex;
    justify-content: center;
}


/* ------------------------------------ */
/* ----------- ZONE POST IT ----------- */
/* ------------------------------------ */
#zone_post_it{
    height: 600px;
    position: relative;
    /* border: 1px solid red; */
}

.post_it{
    box-shadow: 3px 3px 3px var(--var-gray3);
}

/* ------------------------------------ */
/* ---------- OPTIONS POST IT --------- */
/* ------------------------------------ */
.container_text{
    /* background-color: var(--var-main1); */
    position : fixed;
}
.options_menu{
    /* background-color: var(--var-main2); */
    position : fixed;
    display: flex;
    justify-content: flex-end;
}
.option{
    /* background-color: var(--var-gray1); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--var-gray1);
    /* border: 1px solid var(--var-gray1); */
}